:root {
  /* создание переменных для цвета и шрифта*/
  --main-color: #212121;
  --logo-color: #000000;
  --accent-color:  #2196f3;
  --background-dark-color: #2f303a;
  --background-light-color: #F5F4FA;
  --active-color: #FFFFFF;
  --inactive-color: #757575;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: .03em;

  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover,
a:focus {
  color: var(--accent-color);
}

li {
  list-style-type: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.navbar {
  font-weight: 500;
  letter-spacing: .02em;
}

/* .inline-item {
  display: inline;
}

.block-item {
  display: inline-block;
} */

.accent-text {
  color: var(--accent-color);
}

.gray-text {
  color: var(--inactive-color);
}

.white-text {
  color: var(--active-color);
}

.opacity-text {
  color: rgba(255,255,255, 60%);
  line-height: 1.7;
}

.hidden {
  display: none;
}

.hero {
  background-color: var(--background-dark-color);
  text-align: center;
}

.hero-header {
  padding-top: 10px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: .06em;

  color: var(--active-color);
  background-color: var(--background-dark-color);

  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  font-weight: 700;
  line-height: 1.9;
  font-size: 16px;

  margin: 5px 5px 10px;

  background-color: var(--accent-color);
  color: var(--active-color);

  border: 1px solid var(--accent-color);
  border-radius: 3px;
}

.section,
.cards {
  width: 100%;
}

.cards a:hover,
.cards a:focus {
  color: var(--main-color);
}

.section-light {
  background-color: var(--background-light-color);
}

.small-header {
  font-weight: 700;

  text-transform: uppercase;
}

.section-header {
  font-weight: 700;
  font-size: 36px;
}

.card-header {
  font-weight: 500;
  font-size: 16px;
}

.section-text {
  font-weight: 400;
  line-height: 1.7;

  color: var(--inactive-color);
}

.card-text {
  font-weight: 400;
  font-size: 16px;

  color: var(--inactive-color);
}

.footer {
  background-color: var(--background-dark-color);
  color: var(--active-color);
}

.address {
  font-style: normal;
  line-height: 1.7;
}

/* Далее стили только portfolio.html */

.example-header {
  font-size: 18px;
  font-weight: 700;

  line-height: 2;
  letter-spacing: .06em;
}

.example-text {
  font-size: 16px;
  font-weight: 400;

  line-height: 1.9;
  letter-spacing: .03em;

  color: var(--inactive-color);
}

.radiobutton{
  list-style-type: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.button {
  padding: 3px 3px;

  background-color: var(--background-light-color);
  border: 1px solid var(--background-light-color);
  border-radius: 3px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--active-color);  
  background-color: var(--accent-color);

  border: 1px solid var(--accent-color);
}

.radiobutton:checked + .button {
  color: var(--active-color);  
  background-color: var(--accent-color);

  border: 1px solid var(--accent-color);
}